
.meme-generator {
  margin: 20px auto;
  width: 400px;
  font-family: sans-serif;
}

.meme-generator label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.meme-generator input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#meme {
  width: 100%;
}

.upper {
  background-color: #AC7088;
  padding-bottom: 3px;
  text-align: center;
}

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

h4 {
  margin-top: 20px;
}

body {
  background-color: #FEFBF6;
}

button {
  margin-top: 30px;
}
